/* Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/*CSS eset*/

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    
    
}

ul,ol,li{
	margin: 0;
    padding: 0;
}

/*Custom css*/

:root {
    --font-family-ubuntu: 'Ubuntu', sans-serif;
    --primary-marine-blue: hsl(213, 96%, 18%);
    --primary-purplish-blue: hsl(243, 100%, 62%);
    --primary-pastel-blue: hsl(228, 100%, 84%);
    --primary-light-blue: hsl(206, 94%, 87%);
    --primary-strawberry-red: hsl(354, 84%, 57%);
    --neutral-cool-gray: hsl(231, 11%, 63%);
    --neutral-light-gray: hsl(229, 24%, 87%);
    --neutral-magnolia: hsl(217, 100%, 97%);
    --neutral-alabaster: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --h3-font-size: 0.875rem;
    --h2-font-size: 1rem;
    --h1-font-size: 2rem;
    --p14-font-size: 0.875rem;
    --p16-font-size: 1rem;
}

.main-form{
 background-color:var(--primary-light-blue);
}

.form-wrapper{
background-color: var(--primary-light-blue);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.form-container{
    font-family: var(--font-family-ubuntu);
    text-align: center;
    width: 100%;
    max-width: 58.75rem;
    margin: 2.5% auto;
    padding: 1.125rem 1rem;
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
}

.step-container{ 
    width: 30%;
    height: 35.625rem;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem 2.5rem 2rem;
    border-radius: 0.5rem;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1.875rem;
    align-items: center;
}

.details{
    width: 70%;
    height: 35.625rem;
    padding: 2.5rem 5.625rem 2.5rem 5.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Staring Individual steps styling*/
.individual-steps{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.step1-btn{
   flex-direction: row;
   display: flex;
   justify-content: right;
}

/*Side Bar styling*/

.step-number{
    width: 2.125rem;
    height: 2.125rem;
    border: 0.1rem solid var(--neutral-white);
    border-radius: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.step-number-active{
    background-color: var(--neutral-white);
    color: var(--primary-marine-blue);
}


.step-number a{
    color:var(--neutral-white);
    font-family: var(--font-family-ubuntu);
    font-size: var(--font-weight-500);
    font-size: var(--h2-font-size);
    text-decoration: none;
}

.step-info{
    padding-left: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.step-info h2{
    font-size: var(--h2-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-700);
    color: var(--neutral-white);
}


.step-info h3{
    font-size: var(--h3-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-400);
    color: var(--neutral-white);
    opacity: 0.8;
    padding-bottom: 0.25rem;
}

/*individual step styling*/
.individual-steps h1{
    font-size: var(--h1-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-700);
    color: var(--primary-marine-blue);
    padding-bottom: 1.125rem;
}

.individual-steps p{
    font-size: var(--p16-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-400);
    color: var(--neutral-cool-gray);
    padding-bottom: 0.5rem;
}

.step1 .name, .step1 .email, .step1 .phone{
    font-size: var(--p16-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-500);
    color: var(--primary-marine-blue);
}
.step1 .in-name, .step1 .in-email, .step1 .in-phone{
    font-size: var(--p16-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-500);
    color: var(--primary-marine-blue);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 1.125rem 1rem 1.125rem 1rem;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--neutral-cool-gray);
    width: 100%;
    
}

.step1 .in-name::placeholder, .step1 .in-email::placeholder, .step1 .in-phone::placeholder{
    color: var(--neutral-cool-gray);
    font-weight: var(--font-weight-500);
    font-family: var(--font-family-ubuntu);
    font-size: var(--p16-font-size);
}

.step1 .in-name:focus, .step1 .in-email:focus, .step1 .in-phone:focus{
    color: var(--primary-marine-blue);
    cursor: pointer;
    border: 0.125rem solid var(--primary-purplish-blue);
    outline: var(--primary-purplish-blue);
}

button{
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: var(--neutral-white);
    font-weight: var(--font-weight-500);
    font-family: var(--font-family-ubuntu);
    font-size: var(--p16-font-size);
    background-color: var(--primary-marine-blue);
    border:none;
    border-radius: 0.5rem;
}

button:hover{
    background-color: var(--primary-marine-blue);
    opacity: 0.9;
    cursor: pointer;
}

/*Ste 02 Styling*/

.package-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:  2rem;
    margin-bottom: 2rem;
}

.packages{
    background-color: var(--neutral-white);
    border: 0.12rem solid var(--neutral-cool-gray);
    width: 31.5%;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
}
.package-selected{
    background-color: #F8F9FE;
    border: 0.12rem solid var(--primary-purplish-blue);
}

.packages:hover{
    border: 0.12rem solid var(--primary-purplish-blue);
    cursor: pointer;
}

.packages-icon{
    margin-bottom: 2.5rem;
}
.packages-icon img{
    width: 2.5rem;
    height: 2.5rem;
}

.packages-name h2{
    font-size: var(--h2-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-500);
    color: var(--primary-marine-blue);
    margin-bottom: 0.625rem;
}

.packages-name h3{
    font-size: var(--h3-font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-400);
    color: var(--neutral-cool-gray);
    opacity: 0.8;
    padding-bottom: 0.25rem;
}

.monthoryearly{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}